<div class="col-lg-8">
    <h1 class="h1-strong">
        {{ title }}
        <button class="btn btn-success pull-right" (click)="refresh($event)">Nuevas publicaciones</button>
    </h1>
    
    <div id="publications">
        <div *ngFor="let publication of publications" class="item-publication">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="image_user pull-left">
                        <a href="#">
                        <img src="{{ url + 'get-image-user/' + publication.user.image }}" *ngIf="publication.user.image">
                        <img src="../../../assets/userAvatar.jpg" *ngIf="!publication.user.image">
                        </a>
                    </div>
                    
                    <div class="user-name">
                        <a [routerLink]="['/perfil', publication.user._id]"><h4> {{ publication.user.name + ' ' + publication.user.surname }}</h4></a>
                        
                        <div class="date pull-right">
                            {{ (publication.created_at | amFromUnix ) | amLocale: "es" | amTimeAgo }}
                        </div>
                    </div>
                    
                    
                    <div class="publication-text pull-left">
                        {{ publication.text }}
                    </div>                    

                    <div class="col-lg-12 publicationImg" *ngIf="publication.file != 'null'">
                        <p>
                            <img class="col-lg-12" src="{{ url + 'get-image-pub/' + publication.file }}">                
                        </p>                       
                    </div>

                    <div class="col-lg-12" *ngIf="publication.user._id == identity._id">
                        <a href="#deleteModal{{ publication._id }}" class="btn btn-danger pull-right" data-toggle="modal">
                                <span class="glyphicon glyphicon-trash"></span>
                        </a>

                        <div id="deleteModal{{ publication._id }}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Atención!</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Estás intentando borrar tu publicación.</p>
                                        <p class="text-warning">La publicación será borrada de manera permanente!</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                        <button class="btn btn-danger" data-dismiss="modal" (click)="deleteThisPublication(publication._id)">Borrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-12 text-center" *ngIf="publications && publications.length">
        <p>
            <button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">
                Ver más publicaciones
            </button>
        </p>    
    </div>

</div>


<app-sidebar (sent)="refresh($event)"></app-sidebar>



