/* Generales */
.h1-strong{
    font-size: 35px;
    font-weight: bold;
    /* margin-left: 13px; */
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.jumbotron{
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.jumbotron .btn{
    margin: 5px;
}

.navigation .navbar .dropdown-menu *{
    color: black !important;
}

.navigation .dropdown.open {
    background: #cc1717;
}

/*Cabecera*/

.navigation {
    padding: 0px !important;
}

.pointer {
    cursor: pointer;
}

.navigation .navbar {
    border: none;
    border-radius: 0px !important;
    background: #e53c37 !important;
}

.navigation .navbar *{
    color: white !important;
}

.active{
    background: #cc1717;
}

.navigation .navbar a:hover{
    background: #cc1717 !important;
}


.avatar{
    width: 35px;
    height: 35px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 9px;
    margin-right: 2px;
}

.avatar .img{
    height: 38px;
    width: 38px;
} 

.item-user .image_user,
.item-publication .image_user{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;
}

.item-user .image_user a img,
.item-publication .image_user a img{
    width: 100%;
}

.item-user .user_name{
    margin-top: 10px;
}

.item-user .user_name .nickname{
    color: #969393;
}

.item-user .user_name .name-surname a{
    color: #3a3a44;
    font-weight: bold;
}

/* Sidebar */
.sidebar-32{
    width: 32% !important;
    padding: 0px !important;
}

#user-card, #new-publication{
    padding: 25px;
    width: 32%;
}

#new-publication{
    padding: 18px;
    padding-left: 8px;
}

#user-card .panelAvatar{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;;
}

#user-card .panelAvatar img{
    width: 100%;
}

#user-card .name-surname{
    font-weight: 300;
    font-size: 17px;
}

#user-card .name-surname a{
    color: #555;
}
#user-card .name-surname .nickname{
    color: #969393;
}

#user-card .stats{
    border-top: 1px solid #eee;
    margin-top: 10px;
}

#user-card .stats a:hover{
    text-decoration: none;
}

#user-card .stats a:hover .number-stat{
    color: #555;
}

#user-card .label-stats,
#user-card .number-stat{
    display: block;
    text-align: center;
    transition: all 300ms;
}

#user-card .label-stats{
    font-weight: bold;
    color: #555;
}

#user-card .following-data{
    float: left;
    padding-left: 17px;
    padding-right: 17px;
    margin-top: 20px;
    border-right: 2px solid #ccc;
}

#user-card .following-data:last-child{
    border: none;
}

#user-card .following-data:first-child{
    padding-left: 6px;
}

#user-card .number-stat{
    font-weight: bold;
    color: #cc1717;
}

#publications{
    min-height: 500px;
}

.profileAvatar{
    width: 185px;
    height: 185px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;
    margin: 0px auto;
    margin-left: 39%;
}

#data-profile{
    /* min-height: 500px; */
    text-align: center;
}

.profileAvatar img{
    width: 100%;
}

#data-profile .user-name{
    font-size: 24px;
    font-weight: bold;
    color: #555;
}

.publicationImg{
    margin-bottom: 8px;
}

.people {
    min-height: 500px;
}