/*Cabecera*/

.navigation {
    padding: 0px !important;
}

.navigation .navbar {
    border: none;
    border-radius: 0px !important;
    background: #e53c37 !important;
}

.navigation .navbar *{
    color: white !important;
}